body{
    text-align: center;
}
h1{
    text-align: center;
}
.imagem1{
    width: 30%;
    height: auto;
}
.imagem2{
    float: right;
    width: 15%;
    height: auto; 
}
.texto1{
    text-align: left;
}
.imagem3{
    float: left;
    width: 30%;
    height: auto;
    padding-right: 1%;
}