.titulo{
    background-color: #333;
}
h1{
    text-align: center;
    color: white;
}
.subtitulo{
    background-color: khaki;
}
.container{
    margin-left: 30px;
}
h2{
    text-align: center;
    color: black;
    font-size: 22px;
}
.nome-lista{
    font-weight: bold;
    font-size: 20px;
}
.imagem-cafe{
    margin-left: 22px;
    margin-top: 10px;
    width: 25%;
}
.subtitulo2{
    font-size: 22px;
    margin-left: 22px;
}
.lista{
    list-style-type: circle;
    margin-left: 20px;
    font-size: 20px;
}
.lista2{
    margin-left:20px;
    font-size: 20px;
}