*{
margin: 0%;
padding: 0%;
box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
}
.divtopo{
    border-style: none;
    width: auto;
    height: 100px;
    background-color: green;
    text-align: center;
}
.divmenu{
    border-style: none;
    width: auto;
    height: 30px;
    background-color: blue;
    text-align: center;
}
.divconteudo{
    border-style: none;
    width: auto;
    height: 400px;
    background-color: aqua;
    text-align: center;
}
.divrodape{
    border-style: none;
    width: auto;
    height: 100px;
    background-color: purple;
    text-align: center;
}
