body{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.lobo{
    float: left;
    width: 22%;
    height: auto;
    padding: 9px;
}

.texto{
    text-align:left;
    margin: 10px 5px 0 10px;
    margin-left: 10px;
}

.tucano{
    float: right;
    width: 28%;
    padding: 5px;
    
}