<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Layout-01.css">
    <title>Layout-01</title>
</head>
<body>
    <div class="topo">
        <h1>Topo</h1>
    </div>
    <div class="menu">
        <h3>Menu</h3>
    </div>
    <div class="conteudo">
        <h1>Conteudo</h1>
    </div>
    <div class="rodape">
        <h1>Rodapé</h1>
    </div>
</body>
</html>