table,tr,td,th{
    border: 2px solid #333; 
    margin:auto;

}
.logo{
    width: 50rem;
    margin-right: 200px;
    margin-left: 200px;
}
.miniPC{
    width: 10rem;
    text-align: center;
    margin-right: 100px;
    margin-left: 100px;
}
.pedcomp{
    text-align: center;
    background-color: #76a6e8;
    font-weight: bold;
}
.data{
    text-align: right;
    font-weight: bold;
}
.cliente{
    text-align: center;
    font-weight: bold;
}
.email{
    text-align: center;
    font-weight: bold;
}
.contato{
    text-align: center;
    font-weight: bold;
}
.telefone{
    text-align: center;
    font-weight: bold;
}
.vazio{
    padding: 10px;
}
.descr{
    font-weight: bold;
    text-align: center;
    background-color: #76a6e8;
}
.valor{
    font-weight: bold;
    text-align: center;
    background-color: #76a6e8;
}
.qtde{
    font-weight: bold;
    text-align: center;
    background-color: #76a6e8;
}
.valortot{
    font-weight: bold;
    text-align: center;
    background-color: #76a6e8;
}
.vtc{
    font-weight: bold;
    text-align: right;
    color: white;
    background-color: #7d7171;
}
.renda{
    font-weight: bold;
    text-align: left;
    color: white;
    background-color: #7d7171;
}