body{
    background-image: url(http://www.artezzini.com.br/fotos/fundo/bg.jpg); 
    margin: auto;
}
h1{
    margin-top: 0;
    text-align: center;
    height: 3rem;
    color: aliceblue;
    background-color: #4d595f;
}
h3{
    text-align: center;
    height:2rem;
    color: aliceblue;
    background-color: #4d5539;
}

.left{
    margin: 0.5%;
    height: 134px;
    color: aliceblue;
    font-family: Verdana;
}
img{
    margin: 0.5%;
    max-width: 100%;
    max-height:100%;
}