h1{
    text-align: center;
    background-color: #754726;
    color: #ffffff;
}
h3{
    text-align: center;
    background-color: rgb(255, 211, 160);
}
.titulo{
    font-size: 18px;
}
img{
    width: 250px;
}