*{
    margin: 0%;
    padding: 0%;
    }

    .divtopo{
        border-style: none;
        height: 100px;
        width: 1349px;
        background-color: green;
        text-align: center;
    }
    .divmenu{
        border-style: none;
        height: 400px;
        width: 100px;
        background-color: blue;
        text-align: center;
        float: left;
    }
    .divconteudo{
        border-style: none;
        height: 400px;
        width: 1249px;
        background-color: aqua;
        text-align: center;
        float: left;
    }
    .divrodape{
        border-style: none;
        height: 100px;
        width: 1349px;
        background-color: purple;
        text-align: center;
        clear: both;
    }