*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    }
    .container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .divtopo{
        border-style: none;
        width: auto;
        height: 100px;
        background-color: green;
        text-align: center;
        margin-bottom: 30px;
    }
    .divcard{
        border-style: none;
        width: 20%;
        height: 400px;
        background-color: #2c2929;
        text-align: center;
    }
    .divrodape{
        border-style: none;
        width: auto;
        height: 100px;
        background-color: gray;
        text-align: center;
        margin-top: 20px;
    }