h1 {
    background-color: #333;
    color: white;
    text-align: center;
}

.title {
    background-color: khaki;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
}

.bold {
    font-weight: bold;
}

img {
    width: 50%;
}
