body {
    display: flex;
    flex-direction: column;
    height: 46rem;
    width: 100%;
    margin: 0;
}

.topo {
    background-color: #7cfc00;
    width: 100%;
    min-height: 15%;
}

.menu {
    background-color: #2571ff;
    width: 100%;
    min-height: 5%;
}

.conteudo {
    background-color: #729eef;
    min-height: 65%;
}

.rodape {
    background-color: blueviolet;
    min-height: 15%;
}