body {
  margin: 0;
  padding: 0;
  max-width: 1400px;
}

header {
  display: flex;
  flex-direction: column;
  height: 5.5rem;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #02fa2c;
  width: 100%;
  height: 70%;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0059ff;
  width: 100%;
  height: 30%;
  font-size: 0.7rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bolder;
  background-color: #7fffd4;
  width: 100%;
  height: 31rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bolder;
  background-color: #800080;
  width: 100%;
  height: 4.5rem;
}
