.bg {
    background-color: #bdbbbb;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .centraliza {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .conteudo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 80px;
    min-width: 600px;
  }
  .esquerdo-topo,
  .esquerdo-baixo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
  }
  .esquerdo-topo .bg,
  .direito-topo .bg,
  .direito-meio .bg {
    width: 80px;
    height: 100px;
  }
  
  .esquerdo-baixo .bg {
    margin-top: 15px;
    width: 100%;
    height: 200px;
  }
  .direito-topo,
  .direito-meio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
  }
  .direito-meio {
    margin: 15px 0;
  }
  .direito-baixo .bg {
    width: 100%;
    height: 100px;
  }
  