body {
    padding: 0 2rem;
}

header {
    text-align: center;
}

.img {
    display: flex;
    justify-content: center;
}

img {
    width: 20%;
    height: 10rem;
}

section {
    width: 100%;
    height: 20rem;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

span {
    margin:0 0.5rem;
}

a:hover{
    color:#ff000d;
}



