table {
  margin-inline: auto;
  border: 1px solid black;
}
th,
td {
  border: 1px solid black;
}

th {
  width: 60vw;
}

th img {
  width: 200px;
  height: 50px;
}

td {
  height: 20px;
}

td img {
  margin-left: calc(50% - 20px);
  width: 40px;
}

.fundo-azul {
  background-color: rgb(110, 158, 241);
}

.alinhar-centro {
  text-align: center;
}
