*{
  margin:auto;
  border: auto;
}
body{
  text-align: center;
  
}

header{
  width: 100vw;
  height: 10vh;
  background-color: #cf7588;
  display: flex;

}
.container{
  display: flex;
  flex-direction: row;
}
.menu{
  width: 20vw;
  height: 100vh;
  background-color: #8379c3;
  display: flex;
}

.conteudo{
  width: 100vw;
  height: 100vh;
  background-color: #a286a3;
  display: flex;
}

p{
  font-size: 10rem;
}

footer{
  width: 100vw;
  height: 10vh;
  background-color: #6c5d9a;
  text-align: center;
  font-size: 2rem;
}